/*General Styling*/
 
 .BackgroundAndText {

  background-color: #818181;
  background-image: linear-gradient(
    to left,
    #6d1010,
    #6d1010,
    #000000,
    #000000
  );
    
    min-height: 100vh;
    margin: 0;
    color: white;
  }

/* navbarStyling */

  .navbar {
    padding: 1%;
    background-color: #353535;
    color: white;
  }

    .nav-link {
    color: white;
    font-weight: bold;
  }

    .nav-link:hover {
      color: #9e0e0e;
      font-weight: bold;
    }

  .navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .currentPage {
    color: #9e0e0e !important;
    font-weight: bold;
  }

  .navbar-toggler {
    background-color: #9e0e0e;
    color: #9e0e0e;
    border-color: rgb(0, 0, 0);
  }

  .navbar-toggler-icon {
    color: #353535;
  }
  

/* Carousel Styling */

.carousel-badge{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.carousel-item {
  position: relative;
}

.carousel-item .carousel-badge {
  position: absolute;
  bottom: 3%;
  left: 1%;
  right: 1%;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 1%;
  border-radius: 0.5rem;
  z-index: 10;
}

/*Cards Styling*/

  .card {
    background-color: #353535;
    border: none;
    border-radius: 8px;
    height: 100%;
  }

  .card-title {
    color: white;
    font-weight: bold;
  }

  .card-text {
    padding: 1%;
    margin: 2%;
    color: #d3d3d3;
    max-height: 6em;
    overflow: auto; 
  }

    .card-body {
    overflow-y: auto;
  }

/* filter */
.filter-bar{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top:20px ;
  margin-bottom: 50px;
  margin-left: 30px;
}

.filter-label {
  font-weight: bold;
}

.filter-btn {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.filter-btn:hover{
  background-color: #6d1010;
  color: #000;
}

/* Look at this */
.filter-btn.active {
  background-color: #6d1010;
  color: #fff;
}

/* Look at this */
.movie-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap: 20px;
}

  /*Watchlist cards*/

  .watchcard-title {
    color: white;
    font-weight: bold;
  }

  .watchcard-text {
    padding: 1%;
    margin: 2%;
    color: #d3d3d3;
    max-height: 15em;
    overflow: auto; 
  }
  /*Card buttons*/

  .btn {
    width: 50%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .redButtonText {
    text-decoration: none;
    color: white
  }

  /*Overflow/Scrollbar Styles on the cards*/

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #999999 #ffffff00;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollable::-webkit-scrollbar-track {
  background: #353535;
  border-radius: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #353535;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


/* Sign in and Sign up Styling */

  .FormSection {
    background-color: #9e0e0e;
    padding: 3%;
    border-radius: 8px;
    height: 800px
  }
 
  .SignInSignUpInput {
    text-align: left;
    width: 60%;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    margin: 1.5% 0;
    border: none;
    border-radius: 4px;
  }

  .SignInSignUpButtons {
    background-color: #6d1010;
    color: white;
    text-decoration: underline 1.5px;
    font-weight: bold;
    border: none;
    padding: 2% 2%;
    padding-bottom: 4%;
    border-radius: 4px;
    width: 30%;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .toggleTextStyle {
    margin: 2%;
  }

/*Movie Watchlist Styling */
  
  .Moviewatchlist {
    background-color: #00000000;
    color: white;
  }

/* Individual Movie Page Styling */

.indivBox > * {
  padding: 3%;
}

.indivImage {
  border-radius: 3%;
}

.indivDeets {
  margin: auto;
  padding-left: 5%;
}

.indivDesc {
  max-height: 40vh;
  overflow: auto;
}

